<div id = "blueskies">

      <% if @current_user.present? %>
        <% if @current_user.admin? %>
            <div class="controls">
              <%= link_to "Create dropzone", new_dropzone_path %>
            </div>
          <% end %>
        <% end %>

    <div id="index">

      <h2>Australian Dropzones</h2>

        <% @dropzones.each do |dropzone| %>
          <p><%= link_to dropzone[:dz_name], dropzone_path(dropzone.id) %></p>
        <% end %>
    </div>
</div>
