<div id = "blueskies">

      <div class="controls">
        <%= link_to "Create event", new_event_path %>
      </div>

  <div id="index">
    
      <h2> Events </h2>

        <% @events.each do |event| %>
            <p><%= link_to event[:name], event_path(event.id) %></p>
        <% end %>
</div>
